h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
    text-shadow: 2px 2px 3px darkgoldenrod, 3px 3px 4px green;
    font-size: 14px;

}
body{
background-color: #f5f189;

}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Pangolin&family=Source+Sans+Pro&display=swap');
    
p{
    font-family: 'Pangolin', cursive;
    font-weight: 500;  
    color: #ffff00;

}

#header{
    background-color: #c558db;
    height: 90px;
 margin: 10px;
    border-radius: 5px;
}

#navbar{
    background-color: #cb98d4;
    height: 35px;
 margin: 10px;
  border-radius: 5px;
}
#gyak2{
background-color: #ca99d4;
width: 910px;
margin: 10px;
padding: 20px;
border-radius: 5px;   
}

.szöveg{
text-align: justify;
width: 600px;
margin: 0 vario;
}

#sidebar{
    background-color: #ca99d4;
    width: 320px;
    float: right;
    padding: 50px;
    border-radius: 5px;
    margin-right: 10px;
    
    }
    h2{
        color: #e6c90e;
        text-shadow: 2px 2px 3px darkgoldenrod, 3px 3px 4px green;
    }